---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="안녕하세요! 제 공간에 오신 것을 환영합니다."
	description="저의 대한 간단한 소개입니다."
	pubDate={new Date('2026-03-27')}
	heroImage={AboutHeroImage}
>
	<p>
		반갑습니다! 이곳은 제가 코딩을 배우고 성장하는 과정을 기록하는 블로그입니다. 
		오늘 처음으로 나만의 웹사이트를 만들고 배포까지 성공했어요!
	</p>

	<p>
		앞으로 재미있는 이야기와 유용한 정보들을 많이 나누고 싶습니다. 
		자주 놀러 와주세요!
	</p>
</Layout>
